@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    /* overflow: hidden; */
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    color: #162DDB;
}

/* NAVBAR -------------------------------------------------------- */
.navbar a {
    color: #162DDB;
}

.navbar {
    background: #fff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    /* position: relative; */
    /* box-shadow: 0 0 5px #333; */
}

.navbar-container {
    width: 90%;
    /* background: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container h3 {
    font-size: 40px;
}

.navbar-side {
    /* background: cyan; */
    display: flex;
    align-items: center;
}

.dropdown-menu {
    width: 50px;
    height: 20px;
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
}

.navbar-side h4, .dropdown-menu {
    margin-left: 100px;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu .icon {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dropdown-menu .icon div{
    margin-bottom: 5px;
    position: relative;
}

.dropdown-menu #d1 {
    width: 20px;
    height: 3px;
    background: #162DDB;
    border-radius: 3px;
}

.dropdown-menu #d2 {
    width: 40px;
    height: 5px;
    background: #162DDB;
    border-radius: 3px;

}

.dropdown-menu #d3 {
    width: 30px;
    height: 4px;
    background: #162DDB;
    border-radius: 3px;

}

.dropdown-menu-content {
    width: 100vw;
    /* background-color: #162DDB; */
    position: absolute;
    list-style-type: none;
    color: #162DDB;
    /* border: 1px solid #162DDB; */
    right: 0;
    top: 30px;
    z-index: 9999;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.dropdown-menu-content > div {
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: end;
}

.dropdown-menu-content > div > div {
    background-color: #162DDB;
    opacity: 0.5;
    padding: 1rem;
    display: none;
}

.dropdown-menu-content li {
    margin-bottom: 10px;
}

.dropdown-menu-content li:nth-last-child(1) {
    margin-bottom: 0;
}

.dropdown-menu-content li a {
    color: #fff;
}

.dropdown-menu:hover .dropdown-menu-content>div>div {
    display: block;
}

.dropdown-menu-content li:hover {
    font-weight: bold;
}

/* ANIMATION ------------------------------------------------*/
.wave-animation {
    overflow: hidden;
    position: absolute;
    padding-top: 50px;
    height: 100vh;
    /* position: fixed; */
    z-index: -1;
}

.animation-wrapper {
    z-index: -2;
    position: relative;
    width: 100vw;
    height: 0;
    padding-top: 78%;
    overflow: hidden;
}

.animation-wrapper div {
    position: absolute;
    margin-top: -17%;
    height: 24%;
    width: 2%;
    border-radius: 20px;
    top: 40%;
    /* background: #fff; */
}
.animation-wrapper div {
    background: #1F51FF;
    opacity: 0.1;
}
.animation-wrapper div:nth-of-type(1) {
    animation: prop 17s 0.000s linear infinite;
}
.animation-wrapper div:nth-of-type(2) {
    animation: prop 17s -16.227s linear infinite;
}
.animation-wrapper div:nth-of-type(3) {
    animation: prop 17s -15.655s linear infinite;
}
.animation-wrapper div:nth-of-type(4) {
    animation: prop 17s -14.782s linear infinite;
}
.animation-wrapper div:nth-of-type(5) {
    animation: prop 17s -13.909s linear infinite;
}
.animation-wrapper div:nth-of-type(6) {
    animation: prop 17s -13.136s linear infinite;
}
.animation-wrapper div:nth-of-type(7) {
    animation: prop 17s -12.364s linear infinite;
}
.animation-wrapper div:nth-of-type(8) {
    animation: prop 17s -11.591s linear infinite;
}
.animation-wrapper div:nth-of-type(9) {
    animation: prop 17s -10.818s linear infinite;
}
.animation-wrapper div:nth-of-type(10) {
    animation: prop 17s -10.045s linear infinite;
}
.animation-wrapper div:nth-of-type(11) {
    animation: prop 17s -9.273s linear infinite;
}
.animation-wrapper div:nth-of-type(12) {
    animation: prop 17s -8.500s linear infinite;
}
.animation-wrapper div:nth-of-type(13) {
    animation: prop 17s -7.727s linear infinite;
}
.animation-wrapper div:nth-of-type(14) {
    animation: prop 17s -6.955s linear infinite;
}
.animation-wrapper div:nth-of-type(15) {
    animation: prop 17s -6.182s linear infinite;
}
.animation-wrapper div:nth-of-type(16) {
    animation: prop 17s -5.409s linear infinite;
}
.animation-wrapper div:nth-of-type(17) {
    animation: prop 17s -4.636s linear infinite;
}
.animation-wrapper div:nth-of-type(18) {
    animation: prop 17s -3.864s linear infinite;
}
.animation-wrapper div:nth-of-type(19) {
    animation: prop 17s -3.091s linear infinite;
}
.animation-wrapper div:nth-of-type(20) {
    animation: prop 17s -2.318s linear infinite;
}
.animation-wrapper div:nth-of-type(21) {
    animation: prop 17s -1.545s linear infinite;
}
.animation-wrapper div:nth-of-type(22) {
    animation: prop 17s -0.773s linear infinite;
}

@keyframes prop {
    0% {
        left: 0;
    }

    10% {
        height: 5%;
        margin-top: -10%;
    }

    20% {
        height: 24%;
        margin-top: -19%;
    }

    30% {
        height: 5%;
        margin-top: -10%;
    }

    40% {
        height: 24%;
        margin-top: -19%;
    }

    50% {
        height: 5%;
        margin-top: -10%;
    }

    60% {
        height: 24%;
        margin-top: -19%;
    }

    70% {
        height: 5%;
        margin-top: -10%;
    }

    80% {
        height: 24%;
        margin-top: -19%;
    }


    90% {
        height: 5%;
        margin-top: -10%;
    }

    100% {
        left: 100%;
        height: 24%;
        margin-top: -19%;

    }
}

/* CONTENT ------------------------------------------------*/
.content {
    /* margin-top: 50px; */
    padding-top: 150px;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
    height: 90vh;
}

.content-wrapper {
    /* background: green; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
/* HEADING ------------------------------------------------*/
.logo {
    /* background: cyan; */
    /* padding-top: 30px; */
    padding-bottom: 80px;
    display: flex;
    align-items: end;

}

.logo h1 {
    font-size: 15rem;
    /* background-color: purple; */
    line-height: 0.7;
}



/* FUNCTIONALITIES ------------------------------------------------*/
.functions {
    margin-top: 30px;
    padding-bottom: 70px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card {
    width:400px;
    height: 230px;
    /* background: pink; */
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
}

.box {
    width: 400px;
    height: 100%;
    /* background: grey; */
    position: relative;
}

.card h4 {
    font-size: 3.5rem;
    font-family: roboto;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.5rem;
    margin-right: 100px;
    /* background-color: pink; */
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-content .box {
    background-image: url(/VIT/images/song\ \(2\).png);
    background-size: cover;
}

/* MEDIA QUERY ------------------------------------------------*/
@media (max-width: 1370px) {

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-bottom: 20px;
    }

    .functions {
        margin-top: 10px;
    }

}

@media (max-width: 865px) {
    .container-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        margin-bottom: 20px;
        margin-right: 0;
        width: 90vw;
        height: 400px;
    }

    .box {
        width: 90vw;
    }

    .logo {
        font-size: 70%;
    }
}

@media (max-width: 600px) {
    .navbar-side h4 {
        display: none;
    }
}

